

<% if !user_signed_in? %>
    <div class="carousel_div">
        <%= image_tag("carousel", {:style => "width:100%; height: 337px; object-fit: cover;"}) %>
        <div class="z-index ">
            <h1 class="serif">Background Job Project</h1>
            <h1 class="serif">Ruby on Rails</h1>
        </div>
    </div>
<% end %>

<% if user_signed_in? %>
    <div class="carousel_div">
        <%= image_tag("carousel", {:style => "width:100%; height: 337px; object-fit: cover;"}) %>
        <div class="z-index ">
            <h1 class="serif">Welcome to my Project!</h1>
        </div>
    </div>
<% end %>