<div class="container d-flex flex-wrap mt-5 flex-column justify-content-between" >

    <div class="d-flex justify-content-start flex-column">
        <h1 class="serif">First Things First</h1>
        <h3 class="serif mt-4">Start Redis</h3>
        <p>Run this to start Redis server for a perfect running application with Sidekiq.</p>
        <div class="d-flex">
            <input type="text" value="sudo service redis-server start" id="copyFunction" class="code m-0 border-0" style="width: 21rem;">
            <button onclick="copyFunction()" class="btn-WHITE ms-3">Copy</button>
        </div>
    </div>

    <div class="d-flex justify-content-end align-items-end flex-column">
        <h3 class="serif">Connect to Redis</h3>
        <p>You can test that your Redis server is running by connecting with the Redis CLI:</p>
        <div class="d-flex code w-25 flex-column" style="height: 5.4rem;">
            <p class="" >
            redis-cli</br>
            127.0.0.1:6379> ping</br>
            PONG
            </p>
        </div>
    </div>
    
    <h4 class="serif mt-3">You can solve your doubts by yourself at <a href="https://redis.io/docs/getting-started/installation/install-redis-on-windows/" aria-current="page">Redis CLI</a>.</h4>

    <div class="card mt-4" style="height: 265px;">
        <div class="card-body d-flex flex-column" style="height: 226px;">
            <h2 class="serif mb-3">Simple, efficient background processing for Ruby.</h2>
            <p class="serif mb-3" style="font-size:16px!important; width: 50%;">Sidekiq uses threads to handle many jobs at the same time in the same process. It does not require Rails but will integrate tightly with Rails to make background processing dead simple.</p>
            <p class="serif fw-bold" style="font-size:16px!important;">
                <a href="https://github.com/mperham/sidekiq" class="text-white">
                    View the docs
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                    </svg>
                </a>
            </p>
            
            <%= image_tag("https://www.digitalocean.com/_next/static/media/cloudJourneyImage.954519ea.svg", {:style => "z-index: 22; position: relative; top: -124px; left: 704px; width: 557px;"}) %>
        </div>
    </div>

    <div class="d-flex flex-column align-items-center justify-content-center" style="margin: 5rem 0">
        <h1 class="serif fw-bold">Have any idea to improve here?</h1>
        <h5 class="serif mt-3">Get in touch with me by an email or something like that.</h5>
    </div>
</div>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect></svg>
    <strong class="me-auto">Successfully Copied!</strong>
    <small>just now</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" onclick="unDisplayToast()"></button>
  </div>
  <div class="toast-body">
    Wow, you just copied the text!
  </div>
</div>