<div class="container d-flex flex-wrap mt-5 flex-column align-items-center" >
    <h1 class="serif">Make sure you are logged in for admin access.</h1>
    <p class="code mt-3 d-flex align-items-center justify-content-center" style="width:25rem;">Login with an admin account for more!</p>
</div>