@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    width      : 100%;
    min-height     : 100vh;
    margin     : 0;
    padding    : 0;
    font-family: 'Inter', sans-serif !important;
}

p{
    font-size: 14px!important;
}

a{
    text-decoration: none!important;
    color: #0069FF;
}

.serif {
    font-family: 'Epilogue', serif !important;
    margin     : 0;
}

.code {
    font-family: 'JetBrains Mono', monospace !important;
    padding: .75rem 1rem;
    background-color: #00247C;
    color: #F9FAFE;
    box-shadow: 0px 0px 0px;
    border-radius: 10px;
}

.btn-LIGHT-BLUE{
    background-color: #0069FF;
    color: #F9FAFE!important;
    font-weight: bold!important;
    border-radius: 10px!important;
    padding: .5rem 1rem;
    text-decoration: none;
}
.btn-LIGHT-BLUE:hover{
    background-color: #002C9B;
}
.btn-DARK-BLUE{
    background-color: #002C9B;
    color: #F9FAFE!important;
    font-weight: bold!important;
    border-radius: 10px!important;
    padding: .5rem 1rem;
    text-decoration: none;
}
.btn-DARK-BLUE:hover{
    background-color: rgb(0, 0, 0);
}
.form-signin {
    max-width: 330px;
    padding  : 15px;
}

.form-floating>label {
    top: -20px !important;
}

.form-floating>.form-control-plaintext:-webkit-autofill,
.form-floating>.form-control:-webkit-autofill {
    padding-top   : 0.625rem !important;
    padding-bottom: 0.625rem !important;
}

.form-floating>.form-control-plaintext:focus,
.form-floating>.form-control-plaintext:not(:placeholder-shown),
.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {
    padding-top   : 0.625rem !important;
    padding-bottom: 0.625rem !important;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select {
    height: calc(3rem + 2px) !important;
}

.z-index {
    z-index        : 999;
    position       : absolute;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}

.carousel_div {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    background-image: url("https://ui-cdn.digitalocean.com/registration/e79a24c/static/media/new-brand-bg.2dc399f21f810914b7ca.png");

    /* Set a specific height */
    height: 337px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    background-color: rgb(0, 44, 155)!important;
    border-radius: 24px!important;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    padding: 32px 40px 5px 64px;
    border: 0!important;
}

.card-body{
    color: #F9FAFE!important;
}

.textDarkBlue{
    color: #00247C;
}