<div id="<%= dom_id user %>" class="d-flex justify-content-between w-75">
  <!--p class="ms-3">
    <strong>Name:</strong>
    < %= user.name %>
  </p-->

  <p class="me-3">
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p class="ms-3">
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <!--p class="ms-3">
    <strong>Password confirmation:</strong>
    <%= user.password_confirmation %>
  </p-->

</div>
